:root {
  --background: #fff9e8;
  --paragraph-light: #4b4b4b;
  --paragraph-dark: #683508;
  --primary: #d5ed9f;
  --secondary: #364d38;
  --error: #ad0009;
}

body {
  background-color: var(--background);
  color: var(--paragraph-light);
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--paragraph-dark);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: var(--primary);
  color: var(--paragraph-dark);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary);
}

button:disabled {
  background-color: var(--paragraph-light);
  color: var(--background);
  cursor: not-allowed;
}

.error-message {
  color: var(--error);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.image {
  width: 200px;
  height: 300px;
}
